# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

/node_modules
coverage/
build/
npm-debug.log
.DS_Store
tmp/
.idea
jsdoc/
versions.json
*.iml
.eslintcache
.cache
/packages/**/node_modules
