sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
  slack: eslint-protractor:Qcx63DxJENWs9s6Z5Tgqygq0
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/adff3996681bbaef4a61
node_js:
  - '8'
  - '9'
  - '10'
  - '12'
  - 'node'
before_install:
  - npm i -g npm@^2.0.0
before_script:
  - npm prune
after_success:
  - npm run coveralls
  - npm run semantic-release
